<h3>Version</h3>

<p><%= RUBY_ENGINE.capitalize %> <%= RUBY_VERSION %></p>
<p>Ronin <%= Ronin::VERSION %></p>

<h4>Ronin Libraries</h4>

<% Ronin::Installation.gems.each_value do |lib| %>
<div class="ronin-library">
  <h4><%= lib.name %></h4>

  <p><strong>Version:</strong> <%= lib.version %></p>
  <blockquote><%= lib.description %></blockquote>
<% end %>
</div>
