<h3><%= @url %></h3>

<ul>
  <li><span>Scheme:</span> <%=h @url.scheme %></li>
  <li><span>Domain:</span> <%= render_host_name(@url.host_name) %></li>
  <li><span>Port:</span> <%= render_port(@url.port) %></li>
  <li><span>Path:</span> <%=h @url.path %></li>

  <% if @url.fragment %>
  <li><span>Fragment:</span> <%=h @url.fragment %></li>
  <% end %>

  <% if @url.last_scanned_at %>
  <li><span>Last Scanned:</span> <%= @url.last_scanned_at %></li>
  <% end %>

  <li><span>Created:</span> <%= @url.created_at %></li>
</ul>

<% unless @url.query_params.empty? %>
  <h4>Query Params</h4>

  <ul>
  <% @url.query_params.each do |query_param| %>
    <li>
      <kbd><%=h query_param.name %></kbd>:
      <kbd><%=h query_param.value %></kbd>
    </li>
  <% end %>
  </ul>
<% end %>

<% unless @url.web_credentials.empty? %>
  <h4>Web Credentials</h4>

  <% @url.web_credentials.each do |cred| %>
    <%= render_web_credentials(cred) %>
  <% end %>
<% end %>
