<div id="ip_address">
  <h3><%= @ip_address %></h3>

  <ul>
    <li>IPv<%= @ip_address.version %></li>

    <% unless @ip_address.mac_addresses.empty? %>
    <li>
      <p>MAC Addresses:</p>
      <ul>
        <% @ip_address.mac_addresses.each do |mac_address| %>
        <li>
          <%= render_mac_address(mac_address) %>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>

    <% unless @ip_address.host_names.empty? %>
    <li>
      <p>Host Names:</p>
      <ul>
        <% @ip_address.host_names.each do |host_name| %>
        <li>
          <%= render_host_name(host_name) %>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>

    <% unless @ip_address.os_guesses.empty? %>
    <li>
      <p>OS Guesses:</p>
      <ul>
        <% @ip_address.os_guesses.each do |os_guess| %>
        <li>
          <%= render_os_guess(os_guess) %>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>

    <% unless @ip_address.open_ports.empty? %>
    <li>
      <p>Open Ports:</p>
      <ul>
        <% @ip_address.open_ports.each do |open_port| %>
        <li>
          <%= render_open_port(open_port) %>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>

    <li><span>Created:</span> <%= @ip_address.created_at %></li>
  </ul>
</div>
