<h3><%= @campaign %></h3>

<div id="campaign">
  <ul>
    <li>
      <p>Description:</p>
      <blockquote>
        <%=h @campaign.description %>
      </blockquote>
    </li>

    <li><span>Created:</span> <%= @campaign.created_at %></li>
    <li><span>Updated:</span> <%= @campaign.updated_at %></li>

    <% unless @campaign.targets.empty? %>
    <li>
      <p>Targets:</p>
      <ul>
        <% @campaign.addresses.each do |address| %>
          <li>
          <%= render_address(address) %>
          </li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>
