<html>
  <head>
    <title>Ronin <%= Ronin::VERSION %></title>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'text' %>
    <%= stylesheet_link_tag '960' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="container">
      <div id="header">
      </div>

      <div id="menu">
      </div>

      <div class="flash">
        <% [:error, :warning, :notice].each do |type| %>
          <%= flash_tag(type, :class => "message #{type}") %>
        <% end %>
      </div>

      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
